*{
    color: rgb(206, 208, 218);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    background-color: rgba(12,12,12);
    text-align: center;
}

.contenido nav ul li{
    display: none;
}

.navbar {
    background-color: rgb(4, 7, 41, 0.9);
    text-align: center;
    border-radius: 20px;
    max-width: 200px;
    max-height: 70px;
    margin: 0 auto;
    border: 1px double #333;
    cursor: pointer;
}

.nav-link {
    padding: 10px 15px;
    border-radius: 5px 5px 10px 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 5px;
}

.nav-link:active {
    transform: translateY(10px);
}

.nav-link:hover {
    background-color: rgb(90, 97, 204);
}

.cont-texto{
    border-bottom: 5px groove rgba(20, 34, 226, 0.15);
    border-top: 5px groove rgba(20, 34, 226, 0.15);
    border-radius: 50px 50px 10px 10px;
    margin-inline: 15%;
    padding-inline: 50px;
    padding-top: 15px;
    margin-top: 30px;
}

.contenido{
    width: 70%;
}

.fondo{
    background-color: rgba(12,12,12);
}

.img-card{
    border-radius: 80px 80px 20px 20px;
    border: 5px groove rgba(20, 34, 226, 0.3);
}

.img-proyectos2{
    border-radius: 10px;
    border: 2px groove rgba(220, 221, 231, 0.6);
}

.textocarrusel{
    background-color: rgb(206, 208, 218, 0.5);
    color: black;
}

.carousel-inner div{
    padding: 2%;
}

.titulo{
    font-size: 28pt;
    color: rgb(222, 223, 236);
    text-shadow: 3px 3px 3px rgba(20, 34, 226, 0.5);
}

.subtitulo{
    text-align: center;
}

.subtitulo p{
    font-size: 12pt;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: none;
    margin-left: 10%;
    margin-right: 10%;
}

.div-iconos{
    background-color: rgba(207, 208, 216, 0.1);
    border-radius: 40px 40px 120px 120px;
    margin-inline: 10%;
    text-align: center;
    padding: 20px;
}

.cont-experiencia{
    border-bottom: 5px groove rgba(20, 34, 226, 0.15);
    border-top: 5px groove rgba(20, 34, 226, 0.15);
    border-radius: 100px 100px 150px 150px;
    margin-right: 2%;
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    top: 65%;
    right: 0;
    width: 30%;
    z-index: 1000;
}

.cont-proyecto{
    background-color: rgba(20, 34, 226, 0.12);
    border-radius: 50px 50px 150px 150px;
    margin: 20px;
}

#email:hover , #numero:hover{
    cursor: pointer;

}

#textoproyecto{
    text-align: justify;
    padding: 5px;
    padding-inline: 20px;
    font-size: 12pt;
}

#cont-titulo{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin: 20px;
}

#foto{
    border-radius: 40px 40px 80px 80px;
    margin: 10px;
    width: 95%;
    max-width: 250px;
    height: auto;
    border: 8px double rgba(20, 34, 226, 0.3);
    filter: contrast(1.2) 
            brightness(0.9)
            opacity(0.9);
}

#carta {
    border-bottom: 5px groove rgba(20, 34, 226, 0.15);
    border-top: 5px groove rgba(20, 34, 226, 0.15);
    padding-inline: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 2%;
    margin-top: 30px;
    border-radius: 100px 100px 150px 150px;
    position: fixed;
    top: 5%;
    right: 0;
    width: 30%;
    z-index: 1000;
}

#carta2{
    margin-bottom: 10px;
    border-bottom: 5px groove rgba(20, 34, 226, 0.15);
    border-top: 5px groove rgba(20, 34, 226, 0.15);
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 200px 200px 100px 100px;
}

#infop{
    text-align: justify;
}

#divsecciones{
    text-align: center;
    border-radius: 100px 100px 100px 100px;
    border-bottom: 5px groove rgba(20, 34, 226, 0.15);
    border-top: 5px groove rgba(20, 34, 226, 0.15);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-inline: 8%;
    margin-top: 30px;
}

.img-final{
    width: 90%;
    min-width: 250px;
    max-width: 450px;
    height: auto;
    border-radius: 40px 40px 40px 40px;
    border: groove rgba(20, 34, 226, 0.3);    
}

.card-text {
    padding: 10px;
    text-align: justify;
    padding-inline: 25px;
}

.img-conocimientos{
    filter: brightness(1.8);
    filter: contrast(140%);
    filter: drop-shadow(1px 1px 0.3px rgba(233, 248, 244, 0.247));
    margin: 1px;
}

.img-carrusel-3{
    width: 90%;
    height: 600px;
    width: auto;
    border-radius: 60px;
    border: groove rgba(238, 239, 243, 0.1);
    object-fit: scale-down;  
}

@media (max-width: 1600px) {

    .contenido nav ul li{
        display: flex;
    }

    #carta {
        border-bottom: 5px groove rgba(20, 34, 226, 0.15);
        border-top: 5px groove rgba(20, 34, 226, 0.15);
        border-radius: 100px 100px 150px 150px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-inline: 5%;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-inline: 8%;
        top: auto;
        right: auto;
        width: auto;
        z-index: auto;
        position: relative;
    }

    #carta h2{
        text-align: center;
        margin-bottom: 20px;
    }

    .contenido{
        width: 100%;
    }
    
    .cont-experiencia{
        top: auto;
        right: auto;
        width: auto;
        z-index: auto;
        position: relative;
        border-bottom: 5px groove rgba(20, 34, 226, 0.15);
        border-top: 5px groove rgba(20, 34, 226, 0.15);
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100px 100px 150px 150px;
        margin-inline: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cont-proyecto{
        margin-inline: 3%;
        padding-bottom: 30px;
    }

    #welcome {
        display: flex;
        background-color: rgba(16, 3, 72, 0.3);
        border-radius: 50%;
        width: 250px;
        height: 250px;
        margin-top: 15%;
        margin-bottom: 15%;
        text-align: center;
        left: 50%;
    }

    #welcome:hover {
        width: 300px;
        height: 300px;
    }

    #welcome img {
        transition: 0.8s ease;
        width: auto;
        height: 250px;
        margin: auto;
        border-radius: 50px;
    }

    #welcome img:hover {
        width: auto;
        height: 300px;
    }

    #welcome h1 {
        font-size: 4rem;
        transition: 1s ease;
        position: absolute;
        left: 50%;
        top: 50%; 
        transform: scale(0.25) translate(-200%, -480%);
        opacity: 0;
        filter: brightness(0.1);
    }

    #btncarta {
        text-align: center;
    }

    .navbar {
        display: flex;
        max-width: 400px;
        max-height: 70px;
    }

    .titulo {
        margin: 20px;
        text-align: center;
    }

    .cont-texto {
        margin-inline: 8%;
        padding-inline: 5%;
    }

    #divsecciones {
        margin-inline: 2%;
    }

    .card-text {
        padding-inline: 5px;
    }

    .div-iconos{
        border-radius: 60px 60px 250px 250px;
        margin: 25px;
        margin-inline: 10%;
        padding-bottom: 50px;
    }


    #welcome {
        transition: 2s ease;
        display: flex;
        background-color: rgba(16, 3, 72, 0.2);
        border-radius: 50%;
        width: 300px;
        height: 300px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 1px 30px 0 rgba(229, 228, 228, 0.2);
    }

    #welcome:hover {
        box-shadow: 1px 1px 80px 0 rgba(229, 228, 228, 0.6);
        background-color: rgba(3, 41, 72, 0.5);
        width: 550px;
        height: 550px;
        margin: auto;
    }

    #welcome img {
        position: relative;
        transition: 2s ease;
        width: auto;
        height: 400px;
        filter: brightness(0.2);
        border-radius: 50%;
        cursor: pointer;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #welcome img:hover {
        width: auto;
        height: 450px;
        opacity: 0.89;
        filter: brightness(0.8);
        border-radius: 30%;
    }

    #welcome h1 {
        font-size: 8rem;
        transition: 1s ease;
        position: absolute;
        left: 50%;
        top: 50%; 
        transform: scale(0.25) translate(-200%, -480%);
        opacity: 0;
        filter: brightness(0.1);
    }

    #welcome:hover h1 {
        filter: brightness(0.45);
        left: 50%;
        top: 25%;
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
