*{
    color: rgb(206, 208, 218);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    background-color: rgba(12,12,12);
    text-align: center;
}

.nav-link {
    display: inline-block;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.nav-link:hover {
    background-color: rgba(20, 34, 226, 0.3);
}

.nav-link:active {
    transform: translateY(20px);
}

.nav-link {
    transition: background-color 0.5s ease, transform 0.1s ease;
}

.cont-texto{
    background-color: rgba(20, 34, 226, 0.12);
    border-radius: 250px 250px 0px 0px; 
    border: groove rgba(230, 231, 241, 0.2);
    margin-left: 10%;
    margin-right: 10%;
}

.cont-texto2{
    background-color: rgba(20, 34, 226, 0.12);
    border-radius: 0px 0px 250px 250px; 
    border: groove rgba(230, 231, 241, 0.2);
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

.fondo{
    background-color: rgba(12,12,12); 
}

.img-card{
    border-radius: 80px 80px 20px 20px;
    border: 5px groove rgba(20, 34, 226, 0.3);
}

.img-carrusel{
    border-radius: 5% 250px 250px 5%;
    border: groove rgba(230, 231, 241, 0.2);
}

.textocarrusel{
    background-color: rgb(206, 208, 218, 0.5);
    color: black;
}

.col-xl-5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner div{
    padding: 2%;
}

.titulo{
    font-size: 28pt;
    color: rgb(222, 223, 236);
    text-shadow: 3px 3px 3px rgba(20, 34, 226, 0.5);
}

.subtitulo{
    
    text-align: center;
    font-size: 18pt;
    color: rgb(222, 223, 236);
    text-shadow: 3px 3px 3px rgba(20, 34, 226, 0.5);
}

.subtitulo p{
    font-size: 12pt;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: none;
    margin-left: 10%;
    margin-right: 10%;
}

#textoproyecto{
    text-align: justify;
    padding: 20px;
    font-size: 12pt;
}

#cont-titulo{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#foto{
    border-radius: 40px 40px 140px 140px;
    margin: 10px;
    width: 90%;
    max-width: 350px;
    height: auto;
    border: 3px double rgba(20, 34, 226, 0.5);
}

#carta{
    margin-bottom: 10px;
    border-bottom: 5px groove rgba(20, 34, 226, 0.15);
    border-top: 5px groove rgba(20, 34, 226, 0.15);
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 100px 100px 200px 200px;
}

#carta2{
    margin-bottom: 10px;
    border-bottom: 5px groove rgba(20, 34, 226, 0.15);
    border-top: 5px groove rgba(20, 34, 226, 0.15);
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 200px 200px 100px 100px;
}

#infop{
    text-align: justify;
}

#divsecciones{
    text-align: center;
    border-radius: 100px 100px 100px 100px;
    border-bottom: 5px groove rgba(20, 34, 226, 0.15);
    border-top: 5px groove rgba(20, 34, 226, 0.15);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 8%;
    margin-left: 8%;
}

#fcarrusel{
    background-color: rgba(20, 34, 226, 0.1);
    border-radius: 5% 250px 250px 5%;
    margin-right: 5%;
    margin-left: 5%;
}

.img-final{
    width: 90%;
    min-width: 250px;
    max-width: 450px;
    height: auto;
    border-radius: 40px 40px 40px 40px;
    border: groove rgba(20, 34, 226, 0.3);    
}


